#file-upload-backdrop {
    display:flex;
    background-color: #232323;
    border-radius: 12px;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
    transition: height 0.3s ease, width 0.3s ease;
}

#file-upload-input {
    display: inherit;
    width:380px;
    height:80px;
    margin:7px;
    padding:0;
    background: rgba(186, 233, 253, 0.1);
    border-radius: 12px;
    border: #838383;
    border-style: dashed;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#file-upload-input:hover{
    background: rgba(186, 233, 253, 0.3);
}

#file-display {
    width: calc(100% - 20px);
    height: calc(100% - 20px);;
    padding:0;
    margin:0;
    background: rgba(186, 233, 253, 0.1);
    border-radius: 12px;
    justify-content: center;
}

#file-display h2{
    padding:0;
    margin:4px;
    text-decoration: underline;
}

.replay-port {
    font-family: 'Open Sans', sans-serif;
    background-color: #5a5a5a;
    border-radius: 12px;
    box-shadow: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100% -10px);
    height: 60px;
    margin: 10px;
    padding-left:16px;
}

.replay-port *{
    margin-left: 30px;
}

.port-skin {
    height: 100%;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}